# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/


# IDE stuff
.vscode/
.idea/

.env
.docker.env

# Logs
logs/
*.log

# CSV / Data files
*.csv
*.tsv
*.rdb
*.json
*.sqlite3

#local dev files

celerybeat-schedule
*.rdb
db_backup.sqlite3